.mouse-ensima:hover {
	color: #249CFF;
}

.fotoperfil {
	width: 100%;
	height: 100%;
}

foto-eliminar {
	width: 150%;
	height: 150%;
}

.fotoportada {
	width:100%;
	height: 100%;
}

.profileppp {
	position: relative;
	padding: 0px;
	border-color: white;
	border-style: solid;
	border-width: 5px;
	border-radius: 50%;
	overflow: hidden;
}

.profileppp > img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1920px) {
	.profileppp {
		width:250px;
		height:250px;
	}

	.profileppp > img {
		min-width: 110%;
		min-height: 110%;
	}

	.fpcontainer {
		margin-top: -15%;
	}

	.portada {
		height: 525px;
	}

	.PortadaListas {
		height: 246px;
	}
}

@media only screen and (max-width: 1366px) {
	.profileppp {
		width:160px;
		height:160px;
	}

	.profileppp > img {
		min-width: 110%;
		min-height: 110%;
	}

	.fpcontainer {
		margin-top: -13%;
	}

	.portada {
		height: 350px;
	}

	.PortadaListas {
		height: 170px;
	}
}

.menuAcomodado { 
	margin-top: -1%;
}

.info {
	margin-left: 3%;
}

.botones {
	width:50%;
	height:50%;
}

.tabla {
	width:90%;
}

#as > tbody > tr:hover{
	background-color: #C4F2FF;
}

#car tr:hover{
	background-color: #C4F2FF;
}

.listAcomodada
{ 
	margin-left: 66%;
	width:30%;
}

.listAcomodada2 {
	width:30%;
}

.contenidos {
	width:94%;
	margin-left:3%;
}

.contenidos2 {
	width:94%;
	margin-left:3%;
	margin-bottom: 15px;
	/*margin-top:-26%;*/
}

.uploadAcomodado {
	margin-top:-5%;
}

div.uploadS {
    width: 100%;
	height: 5%;
    background-color:transparent;
    overflow: hidden;
}
div.uploadS:hover {
    background-color:#C4F2FF;
    cursor:pointer ;
}

div.uploadS input {
    display: block !important;
    width: 100px !important;
    height: 5px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.publicacion {
	width:55%;
	margin-top: -20%;
	margin-left:5%;
}
.publicacion3 {
	width:55%;
}

.publicacion2 {
	width:55%;
	margin-top:30%;
	margin-left:5%;
}

div.uploadM {
	width: 100%;
	background-color:transparent;
	overflow: hidden;
}

div.uploadM:hover {
    background-color:#249CFF;   
}

div.uploadM input {
    display: block !important;
    width: 10px !important;
    height: 3px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

textarea {
	 resize: none;
}

.contenedorPub {
margin-top:-20%;
}

.nombreuP {
	margin-bottom: -4%;
}
.nombreuP:hover {
	color:#249CFF;
}

.actualizarlista {

}
.actualizarlista:hover {
	color:#249CFF;
}


.fotoperfilChica {
	width: 10%;
	height: 10%;
	border-radius: 5px;
	margin-top: 1%;
}


.acomodarTexto {
	margin-top:-10%;
	margin-left: 12%;
}

.pubgeneral {
	border-radius: 3px;
	border: 1px solid #E6E6E6;
	background-color: white;
}

body {
	background-color: #F9FFFF;
	
}

.textComent {
	width:88%;
	margin-left: 12%;
}

.acomodarBoton {
	margin-top: 1%;
}

.fotoperfilMasChica {
	width: 8%;
	height: 8%;
	border-radius: 5px;
	margin-left: 3%;
}
.acomodar2b {
	margin-top: -6%;
}

.comentariosTodos {
	width:100%;
}

.fotoperfilMasChicaAun {
	width:100%;
	border-radius: 5px;
}


#as2 td{
	 padding: 1%;
}

.bg-white{
	border-radius: 2px;
	border: 1px solid #E6E6E6;
	padding: 50px;
	background-color: #EFFBF5;



}

.txtlogin {
	width:20%;
}

.registroAcomodado {
	margin-left: 75%;
	margin-top:5%;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 10px;
  padding-left: 10px;
}

.row.no-gutter [class*='col-']:first-child {
  padding-left: 0px;
}
.row.no-gutter [class*='col-']:last-child {
  padding-right: 0px;
}

.form-group > .row [class*='col-'] {  
  margin-bottom: 5px;
  padding-top: -5px;
}

.pubglobal {
	margin-right: 68%;
	margin-top: -40%;
}

.pubglobal2 {
	margin-top: -5%;
}

.acomodarVideo {
	margin-top: -1%;
	margin-left: 7%;
}

.acomodartextoU {
	margin-left:2%;
}

.publicaciones {
	margin-right: 68%;
}

.basura:hover {
	color:#A4A4A4;

}

.carritolista {
	width:40%;
	margin-left:3%;
}

.formaPago {
	margin-left:3%;
}

.acomodarVideoCompra{
	margin-top: -30%;
	margin-left: 40%;
}

.txtEditarP {
	width:30%;
	margin-left:3%;
}

.pubpre {
	width:25%;
	margin-bottom:-10%;
	margin-right: 20%;
}

.publicboton {
	margin-top: 4%;
}

div.uploadLI {
    width: 100%;
    background-color:transparent;
    overflow: hidden;
}
div.uploadLI:hover {
    background-color:#249CFF;   
}

div.uploadLI input {
    display: block !important;
    width: 10px !important;
    height: 3px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.maslista:hover {
color:green;
}

.fotolistaslistas {
	width:100%;
}


.videolistas {
	margin-left:40%;
	margin-top:-6%;
}

.reportesAcomodado {
	width:40%;
}

.pubamigo {
	margin-top:-20%;
}

.fotoptlistas {
	width: 100%;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex-row > .form-group > input:first-child {
	width: 20% !important;
}

.flex-row > .form-group > input {
	
}

.portada {
	width: 100%;
	overflow: hidden;
}

.container-lista {
    width: 90%;
    margin: auto;
}

.container-usuario {
	width: 23%;
	height: 400px;
	padding: 10px;
	margin: 5px;
    border-top-left-radius:50% 50%;
    border-top-right-radius:50% 50%;
}

.portada .img-thumbnail.fotoportada {
    width: 100%;
    height: auto;
}

.horizontal-center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -75%);
}

.error {
	color:red;
}

.PortadaDefault {
	background-image: url("/BDM/imagenes/FotoPortadaDefault.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.profileppp{
	background-image: url("/BDM/imagenes/fotoDefaultPerfil.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.PortadaListas{
	background-image: url("/BDM/imagenes/FotoDefaultListas.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.PortadaListas > img{
	min-width: 100%;
	height: auto;
}

.MoverPortadaListas {
	top: -50%;
	transform: translateY(-25%);
	z-index: -10000;
}

.nombre-lista {
	display: inline-block;
	vertical-align: middle;
}

.header-lista {
	margin-bottom: 15px;
}

.header-lista > button {
	.vertical-align: middle;
}

.item-lista > td > button {
	left: 50%;
	transform: translateX(50%);
}

.video-embed {
	width: 100%;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
}

.video-embed video {
	width: 100%;
	height: auto;
}

.botoncitoeliminar {
	margin-top: -4.5%
}